@* @model List<Category>

<div class="list-group">
    @foreach (var category in Model)
    {
        <a href="#" class="list-group-item list-group-item-action">@category.Name</a>
    }
</div> *@



<div class="card mb-3">
    <img src="~/img/@Model.ImageUrl" class="card-img-top" alt=" ">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        
        <p class="card-text">@Model.CPU</p>
        <p class="card-text">@Model.GPU</p>
        <p class="card-text">@Model.Battery</p>
        <p class="card-text">@Model.Size</p>
        <p class="card-text">@Model.Camera</p>
        <small class="text-muted">
            <i class="fa fa-turkish-lira"></i>@Model.Price
        </small>
        @* <a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-primary">İncele</a> *@
        @* <a href="/product/details/@Model.ProductId" class="btn btn-primary">İncele</a> *@
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">İncele</a>
        <a asp-controller="shop" asp-action="addtocart" asp-route-id="@Model.ProductId" class="btn btn-primary btn-sm">Sepete Ekle</a>
    </div>
</div>